.scrollt {
position: absolute;
top:0;
left:50%;
height:670px; 
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.scroll-down {
  position: inherit;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.scroll-down:before {
    position: relative;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.gototop:before, .subscribe-btn:before {
    display: inline-block;
    font: 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 900;
}

.subscribe-btn:before {
    content: "\f0f3";
    color: #424242;
    margin-right: 10px;
}
.subscribe-btn {
    font-family: "Barlow",sans-serif;
    background: #fff;
    font-size: 15px;
    padding: 8px 17px;
    letter-spacing: 0;
    margin: 0px 10px 0px 10px;
    color: #424242;
  border-radius: 50px;
}

.herobannersml-wrapper{position:relative;overflow:hidden;width:100%;text-align:center;height: 335px;background-color:#313131}

@media screen and (max-width:767px){
.scrollt {height:260px;}
.subscribe-btn {margin: 0px 0px 0px 10px;}
.herobannersml-wrapper{height:260px}
.herobannersml-wrapper.herobanner-home{height:260px;padding-bottom:0}
}

@media screen and (max-width:1024px){
.scrollt { height:340px;}
.subscribe-btn {margin-right: 0px;
    font-size: 0;
    height: 40px;
    width: 40px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    }   
  .subscribe-btn:before {
    font-size: 15px;
    margin: 0;
  
    }
}
