---
---
<div class="awards-grid">
    <div class="award-item">
        <img alt="JWA Out of the Box Awards Finalist 2021" src="/JWA/media/images/Out-Of-The-Box-JWA.jpg">
    </div>
    <div class="award-item two-up">
        <img alt="IECA Highly Commended 2020" src="/JWA/media/images/IECAA_Innovation_Contribution_Education_Logo_Commended_2020.png">
        <img alt="Solar Impulse 1000 solutions" src="/JWA/media/images/02-2021.png">
    </div>
    <div class="award-item">
        <img alt="" src="/JWA/media/images/ISO-Logo-2025.png">
    </div>
    <div class="award-item two-up">
        <a href="https://www.ieca.org/" target="_blank">
            <img alt="" src="/JWA/media/images/ieca.jpg">
        </a>
        <a href="https://www.iscouncil.org/" target="_blank">
            <img alt="" src="/JWA/media/images/ISClogo.png">
        </a>
    </div>
</div>

<style>
    .awards-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .award-item img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .two-up {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }
</style>
